/* Comment Bubble*/
.bubble 
{
	margin-top : 3px;
word-wrap : normal;
position: relative;
width: 100%;
min-height: 65px;
padding-left: 5px;
padding-right: 5px;
background: #FBFFFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: #7F7F7F solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 4px 5px;
border-color: #FBFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -4px;
top: -5px;
left: 3%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 5px 6px;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -5px;
top: -8px;
left: 3%;
}