/* Comments related */
.singleComment {
	margin-bottom : 25px;	
}

.singleComment p {
	word-break: break-all;
}

.newComment {
	display : none;
}

#submitCommentForm {
	display : none;
}

.commentSection hr {
	margin : 4px 0;
}

.commentsList {
	display : none;
}

span.commentUserID {
	font-size: 18px;
	font: bold;
}

span.date {
	font-size: 12px;
}

ul {
	list-style-type: none;
}