/* Posts related */
button {
	width: 100%;
}

body {
	background-color : #efeff5;
	padding-top : 60px; 
}

.contentContainer {
	background-color : #ffffff;
}

div.col-lg-12 {
	padding-left : 0;
	padding-right : 0;
}

div.col-lg-2 {
	background-color : #efeff5;
}

div.postContainer {
	padding-left : 25%;
	padding-right : 25%;
}

ul.postList {
	margin-bottom : 0;
}

li.list-group-item {
	padding-top : 5px;
	margin-bottom: 5px;
}

span.postAuthor {
	font-color : gray;
}

.postTitle {
	font-size : 32px;
	font-family: EBGaramond;
	font: bolder;
}

.postBody {
	font-family: Lora, Georgia, serif;
	line-height: 1.6em;
	font-size : 17px;
}