<template name="commonLayout">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		  <div class="navbar-header">
			<a class="navbar-brand" href="/">York's Blog</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class=""><a href="/newPost">Add new post</a></li>
		  </ul>
		</div>
	</nav>
	<div class="container contentContainer">
    <div class="row">
      <div class="col-lg-12">
        {{> yield}}
      </div>
    </div>
    </div>
</template>