<template name="displayComments">
	<button type="button" id="showComment" class="btn btn-default showCommentButton">Show {{commentsCount}} comments</button>
	<div class="commentsList">
	{{#each comments}}
		{{> singleComment}}
	{{/each}}
	</div>
	<hr/>
	<button type="button" id="showSubmitComment" class="btn btn-default showCommentButton">Post a comment</button>
	{{> newComment }}
</template>

<template name="singleComment">
	<div class="singleComment">
		<div>
			<span class="commentUserID">{{author}}</span>
			<span class="date">posted {{timeDiff}}</span>
		</div>
		<p class="bubble">{{body}}</p>
	</div>
</template>

<template name="newComment">
	{{#autoForm id="submitCommentForm" collection="Comments" type="method" meteormethod="submitComment"}}
	<fieldset>
		{{> afQuickField name='author'}}
		{{> afQuickField name='body'}}
		{{> afFieldInput name='articleId' value=articleId type='hidden'}}
	</fieldset>
	<div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
	{{/autoForm}}
</template>