<template name="postsList">
	<ul class="postList list-group">
	{{#each posts}}
		<li class="list-group-item">
			{{> post}}
		</li>
	{{/each}}
  </ul>
</template>

<template name="post">
  <div class="postItem">
	  <h3 class="postTitle">
		{{#linkTo route='singlePost'}}
		  {{title}}
		{{/linkTo}}
	  </h3>
	  <span class="postAuthor">by {{author}}</span>
  </div>
</template>

<template name="singlePost">
  <div class="postContainer">
	  <div>
	  <h2 class="postTitle">{{post.title}}</h2>
	  <p>by {{post.author}}</p>
	  <p class="postBody">{{post.body}}</p>
	  </div>
	  <hr/>
	  <div class="commentSection">
	  {{> displayComments}}
	  </div>
  </div>
</template>

<template name="newPost">
	<div class="postContainer">
		<h1>New Post</h1>
		{{> quickForm collection="Posts" id="submitPostForm" type="method" meteormethod="submitPost"}}
	</div>
</template>
